.script-container {
    display: flex;
    height: 90vh;
    width: 70vw;
}

.script-left-panel {
    flex: 2;
}

.script-right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.script-code {
    margin-top: 100px;
    width: 100%;
    height: 80%;
}

.script-text-field {
    margin-top: 20px;
}

.done-button {
    margin-top: 20px;
    width: 100%;
    height: 10%;
}